.container {
    display: inline-block;
    padding-bottom: 30px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: 100%;
    aspect-ratio: 1 / 1;
    /*margin: 1px;*/

    text-align: center;
    background-color: red;
}