body{
    background-color: #3a3a3a;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #E9E9E9;
}

table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.3);
    margin: auto;
}

th, td {
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

tr:hover {
    background-color: #251414;
}

.authPanel{
    width: 300px;
    padding: 100px;
    background-color: #3a3a3a;
    color: #E9E9E9;
    border: 1px solid red;
    border-radius: 20px;
    margin: auto;
    box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.3);

}

.authPanel label{
    font-size: 42px;
}

.inputField{
    height: 34px;
    font-size: 32px;
}

.inputField::placeholder{
    font-size: 16px;
}

@media (max-width: 678px) {
    .authPanel{
        width: 200px;
        padding: 50px;
        box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.3);
    }

    .authPanel label{
        font-size: 32px;
    }

    .inputField{
        height: 28px;
        font-size: 22px;
    }
}

.smallFontHeader{
    font-weight: bold;
    font-size: 30px;
}

h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 35px;
}

h1, h2{
    text-align: center;
    font-weight: normal;
}

.menu{
    text-align: justify;
    width: 650px;
    margin: auto;
}

p{
    text-indent: 20px;
}

.button{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(200,200,200, 0.2);
    text-decoration: none;
    color: white;

    transition: 0.2s;
}

.button:hover{
    background-color: rgba(200,200,200, 0.3);
    border-radius: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;

    --n: 8; /* !!!be kell állítani js-ből (még dom. man. előtt) */
    --size: calc(65vh / var(--n));

    display: grid;
    width: calc(var(--n) * var(--size));
    grid-template-columns: repeat(var(--n), var(--size));
    grid-template-rows: repeat(var(--n), var(--size));
}

@media (max-width: 678px) { /* csak hogy telefonon se nézzen ki hülyén */
    .container {
        --size: calc(65vw / var(--n));
        width: calc(var(--n) * var(--size));
    }

    .menu{
        width: 100%;
    }
}

.cell {
    border-style: solid;
    border-width: 2px;
    display: grid;
    place-items: center;
    background: red;
}

.slimBorder {
    border-width: 1px; !important;
}

.form-flex {
    max-width: 600px;
    min-width: 360px;
    margin-inline: auto;
    margin-top: 0;
    padding: 0;
}
.row { display: flex; gap: 1rem; }
.row > * { flex: 1; }
.row.full { display: block; }
.row.full > * { width: 100%; }
.row.separator{ margin-top: 1rem; }

/*
.row { justify-content: space-between; }
.row > * { flex: 0 0 auto; }
*/

input{
    width: 100%;
    min-width: 50px;
}

a {
    color: white;
}